<!DOCTYPE html>
<html>
  <head>
    <title>Redmartrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Help",   '/help' %></li>
      <li><%= link_to "Sign Up", '/signup' %></li>
    </ul>
    <%= yield %>
  </body>
</html>
